body {
  background-color: #fafafa;
  /* min-height: 100vh; */
}

#container {
  display: flex;
  justify-content: space-between;
  /* width: 90%; */
}

.left {
  margin: 5% 10% 0% 8%;
  /* width: 40%; */
}

.left img {
  border-radius: 50%;
  /* width: 110%; */
  width: 576px;
  border: 20px solid #ffffff;
  box-shadow: 0px 4px 31px #0000000a;
}

.right {
  margin-top: 106px;
}
/* 
.top{
    display: flex;
    align-items: center;
}

.top h1{
    font-size: 40px;
} */

div img {
  width: 272px;
}

.top1 {
  text-align: left;
  font: normal normal 300 40px/47px Roboto;
  color: #3e3e3e;
}

span {
  text-align: left;
  font: normal normal 900 40px/53px Roboto;
  color: #c8242f;
}

.login-text {
  text-align: left;
  font: normal normal normal 25px/33px Roboto;
  color: #3e3e3e;
}

input {
  padding-left: 1rem;
  margin-bottom: 27px;
  width: 75%;
  height: 49px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #adadad;
  border-radius: 5px;
}

.forgot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 77%;
}

button {
  background: #c8242f 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 23px;
  width: 30%;
  height: 45px;
  color: #ffffff;
  font-size: 18px;
}

.forgot p {
  /* text-align: left; */
  font: normal normal normal 15px/20px Roboto;
  color: #adadad;
}

.bottom {
  display: flex;
}

.member {
  /* text-align: left; */
  font: normal normal normal 15px/20px Roboto;
  color: #adadad;
}

.register {
  /* text-align: left; */
  font: normal normal normal 15px/20px Roboto;
  color: #c8242f;
  margin-left: 5px;
}

@media screen and (max-width: 1250px) and (min-width: 801px) {
  #container {
    justify-content: space-between;
  }
  .left {
    width: 125%;
    margin: auto;
  }
  .left img {
    width: 80%;
    /* margin: auto; */
  }
  .right {
    margin: auto;
  }
}

@media screen and (max-width: 800px) {
  #container {
    flex-direction: column;
    margin-top: 3rem;
  }
  .left img {
    width: 90%;
  }
  .right {
    width: 90%;
    margin: auto;
    align-items: center;
  }
  .top img {
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
  }
  .top1 {
    width: 100%;
    text-align: center;
  }
  .login-text {
    text-align: center;
  }
  input {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button {
    margin-left: 10%;
  }
  .forgot {
    width: 85%;
  }
  .bottom {
    justify-content: center;
  }
}
